<html>
    <head>
        <title>Crée un potin</title>
    </head>
    <body>
        <h1>Crée un potin !</h1>
        <p>Bon te voila face a la fameuse boite a potin a toi de jouer jeune pomme !!!!</p>
        <form action='/gossips/new/' method='POST'>
        Dis nous qui tu es : <input type='text' name='gossip_author'/><br/>
        Raconte nous tous ehehe !! : <input type='text' name='gossip_content'/><br/>
        <input type='submit'/>
        </form>                                                                   
    </body>
</html>